@media (min-width: 992px){
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar>.container{
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
@media (min-width: 992px){
    .navbar .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
@media (min-width: 992px){
    .navbar .navbar-toggler {
        display: none;
    }
}
@media (min-width: 992px){
    .navbar .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (min-width: 992px){
    .navbar .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (min-width: 992px){
    .navbar .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@media (min-width: 992px){
    .navbar .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar>.container, .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.nav-link {
    display: block;
    padding: 0.5rem 2rem;
}
nav{
    margin-bottom: 30px;
}


/*背景视频*/
.video-bg{
    /*padding-top: 56px;*/
    margin-top: -30px;
    height: auto;

    text-align: center;
    /*margin: auto;*/
    position:fixed;
    z-index:-1;
}
.video-bg video{
    height: 100%;
    width: 100%;
}
@media (max-width: 1500px){
    .video-bg{
        height: 100%;
        overflow: hidden;
        width:100%;
    }
    .video-bg video{
        height: 100%;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: perspective(1px) translate(-50%,-50%);
    }
}
@media (min-width: 1500px){
    .video-bg{
        width:100%;
    }
    .video-bg video{
        /*height: 100%;*/
        /*width: 100%;*/
    }
}


/*内容主体承载*/
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*页面底部*/
footer {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){
    .justify-content-md-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

.content-center{
    background-color: rgba(255,255,255,0);
}

.content-right{
    background-color: rgba(255,255,255,0);
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ff-ban{
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.0);
}
