{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <img alt="" src="{{ url_for('static', filename='images/login2.jpg') }}" class="rounded img-fluid" style="height: 100%; width: auto">
      </div>
      <div class="col-md-4">
        <div class="card mb-3 w-100 bg-light">
          <div class="card-header"><h4>Log in to MyCloweBlog</h4></div>
          <div class="card-body">
            {{ render_form(form) }}
            <hr>
{#            <p class="small"><a href="{{ url_for('.join') }}">注册新账号</a></p>#}
            <p class="small">联系管理员：2325979757@qq.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}