{% macro post_card(blog) %}
    <h3 class="text-primary"><a href="{{ url_for('blog.show_post', blog_id=blog.id) }}">{{ blog.description }}</a></h3>
        <p style="overflow: hidden;height: inherit;text-align: center">
            {{ blog.text.body|striptags|truncate(175, end='......') }}
            <small><a href="{{ url_for('blog.show_post', blog_id=blog.id) }}">...阅读全文</a></small>
        </p>
        <div class="card-body">
            <span class="oi oi-comment-square"></span> {{ blog.comments|length }}&nbsp;&nbsp;
            分类: <a
                href="{{ url_for('blog.show_category', category_id=blog.category.id) }}">{{ blog.category.name }}</a>
            <span class="float-right">{{ moment(blog.timestamp).fromNow(refresh=True) }}</span>
        </div>
{% endmacro %}