{% extends 'base.html' %}
{% from 'card/_blog_card.html' import blog_card with context %}
{% from 'card/_category_card.html' import category_card with context %}

{% block title %}首页{% endblock %}

{% block content %}
  <div class="row justify-content-md-center">
{#        左#}
    <div class="col-md-3 content-left" style="display: none">

    </div>
{#        中#}
    <div class="col-md-8 content-center">
      {% for b in blogs %}
        {{ blog_card(b) }}
      {% endfor %}
    </div>
{#        右#}
    <div class="col-md-4 content-right">
      {{ category_card(categorys) }}
    </div>
  </div>
{% endblock %}