{% from 'card/_photo_card.html' import photo_card with context %}

{% macro blog_card(blog) %}
  <style>
  .card-header{
    border-bottom:0;
  }
  .card-body{
    padding: 0;
  }
  .card-footer{
    border-top: 0;
  }
  </style>

    <div class="card mb-3 w-100 ff-ban">
{#        头部#}
        <div class="card-header">
            <p class="card-text">{{ blog.title }}</p>
            <a class="thumbnail" href="{{ url_for("blog.blog_show", blog_id=blog.id) }}"></a>
            <div class="" align="center">
              {{ blog.h_content|striptags|truncate }}
{#                文章内容简介#}
            </div>
        </div>
        <div class="card-body">
            {{ photo_card(blog.get_photo, url_for("blog.blog_show", blog_id=blog.id)) }}
        </div>


        <div class="card-footer">
            <span class="oi oi-star"></span>
{#            热度#}
            <span id="collectors-count-26" data-href="#">
              <span class="oi oi-comment-square"></span> {{ blog.look_count }}
            </span>&nbsp;&nbsp;

{#            评论#}
            <span class="oi oi-comment-square"></span> {{ blog.blog_comments|count }}
            <div class="float-right">
{#                阅读全文#}
                <a class="hide
                 btn btn-outline-secondary btn-sm" href="{{ url_for("blog.blog_show", blog_id=blog.id) }}">
                    <span class="oi oi-x"></span>阅读全文
                </a>
            </div>
        </div>
    </div>
{% endmacro %}