{% macro commont_card(blog) %}
  <style>
  .add_msg{
    padding: 0 0 15px 0;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px #c2c2c2;
    background-color: rgba(255,255,255,0.8);
  }
  .editor-header{
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
  .editor-body{
    {#height: 200px;#}
    flex-grow: 1;
    border: 1px solid #ccc;
    min-height: 44px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    width: 80%;
    border-radius: 15px;
    background-color: #fff;
  }
  .editor-body>div{
    overflow:hidden;
    resize:none;
  }
  .editor-footer{
      width: 100%;
      height: 35px;
      justify-content: center;
      border-bottom: 1px solid #ccc;
  }
  .editor-button{
    {#position: absolute;#}
    /* float: right; */
    flex-grow: 1;
    {#font-size: 23px;#}
    min-width: 25px;
    {#max-width: 90px;#}
    max-height: 45px;
    /* margin: 0px; */
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 15PX;
    color: #ffffff;
    background-color: #dee2e6;
  }
  .editor-button-active:hover {
    color: #fff;
    background-color: #087dd1;
    border-color: #087dd1;
  }

  .msg{
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: .7rem;
  }
  .msg>img{
    width: 60px;
    height: 60px;
    {#float: left;#}
    max-width: 100%;
    border-radius: 30px;
    vertical-align: middle;
  }
  .msg>span.name{
    position: absolute;
    font-size: 0.5rem;
    color: #999;
    {#top: 1rem;#}
    {#left: 5rem;#}
  }
  .msg>div.pneirong{
    {#top: 1.7rem;#}
    {#float: left;#}
    margin: 1.7rem 1.2rem 0;
    {#padding: 10px;#}
    background: #fff;
    font-size: 12px;
    position: relative;
    border-radius: 15px;
    max-width: calc((100% - 85px));
    min-height: .8rem;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .msg>div>i{
    position: absolute;
    background: url({{ url_for("static", filename="images/msg-input.png") }}) no-repeat;
    background-size: 15px auto;
    width: 20px;
    height: 15px;
    {#left: -14px;#}
    top: 10px;
  }

  .msg_left>img{
    float: left;
  }
  .msg_left>span.name{
    left: 5rem;
  }
  .msg_left>div.pneirong{
    float: left;
    padding: 10px 25px 10px 10px;
  }
  .msg_left>div>i{
    left: -14px;
    {#transform: rotateY(180deg);#}
  }
  .msg_right>img{
    float: right;
  }
  .msg_right>span.name{
    right: 5rem;
  }
  .msg_right>div.pneirong{
    float: right;
    padding: 10px 10px 10px 25px;
  }
  .msg_right>div>i{
    right: -14px;
    transform: rotateY(180deg);
  }

  .list_msg{
    box-shadow: 0 0 5px #c2c2c2;
    background-color: #f1f1f1;
    padding: 1.2rem .8rem 1rem;
    border-radius: 15px 15px 0 0;
    background-color: rgba(0,0,0,0.2);
    {#border-bottom: 0.5px solid #ccc;#}
  }
  .user-info{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-sm{
    flex-grow: 1;
    text-align: center;
    {#margin: 0 6px 0 6px;#}
    height: 100%;
    {#border-radius: 10px;#}
    background-color: rgba(255,255,255,0);
    border: 0;
    flex-shrink: 1;
  }
  .input-center{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .null-red{
    box-shadow: 0 0 10px red;
  }
  .dropright .dropdown-toggle::after{
    position: absolute;
    top: calc(100% - 60%);
    left: calc(100% - 15px);
  }
  .dropleft .dropdown-toggle::before{
    position: absolute;
    top: calc(100% - 60%);
    left: calc(100% - 90%);
  }
  .pneirong>p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
  </style>
  <div class="comment">
    <h3>
      秀儿大会：
    </h3>
    <div class="list_msg">
      <div class="msg msg_left dropright">
        <img alt="斜杠青年" src="{{ url_for("static", filename="images/touxiangm.png") }}">
        <span class="name">斜杠青年</span>
        <div class="pneirong dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i></i><p>nihashile</p>
        </div>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">回复</button>
        </div>
      </div>
      <div class="msg msg_right dropleft">
        <img alt="暴躁少女" src="{{ url_for("static", filename="images/touxiangm.png") }}">
        <span class="name">暴躁少女</span>
        <div class="pneirong dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i></i><p>nihashile</p><p>wochao</p>
        </div>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">回复</button>
        </div>
      </div>
{#      在这里加载对向回复评论#}
    </div>
    <form id="edit_comment">
      <div class="add_msg">
        <div id="editor-footer" class="editor-footer user-info">
{#        昵称#}
        <input type="text" class="input-sm bitian" id="user_name" name="user_name" aria-label="昵称" placeholder="昵称">
{#        邮箱#}
        <input type="email" class="input-sm input-center bitian" name="user_email" id="user_email" aria-label="邮箱" placeholder="邮箱">
{#        主页#}
        <input type="text" class="input-sm" id="user_site" name="user_site" aria-label="主页" placeholder="主页 *选填">
      </div>
        <div id="editor-header" class="editor-header"></div>
        <div id="editor-body" class="editor-body"></div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button id="editor-btn" class="editor-button btn float-right btn-sm" type="button" disabled>发送</button>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
  <script>
    var E = window.wangEditor;
    var editor = new E('#editor-header', '#editor-body');
    var content;
    editor.config.menus = [
      {#'head',  // 标题#}
      {#'bold',  // 粗体#}
      'fontSize',  // 字号
      {#'fontName',  // 字体#}
      {#'italic',  // 斜体#}
      'underline',  // 下划线
      'strikeThrough',  // 删除线
      {#'foreColor',  // 文字颜色/#}
      {#'backColor',  // 背景颜色#}
      'link',  // 插入链接
      'list',  // 列表
      {#'justify',  // 对齐方式#}
      {#'quote',  // 引用#}
      'emoticon',  // 表情
      'image',  // 插入图片
      {#'table',  // 表格#}
      {#'video',  // 插入视频#}
      'code',  // 插入代码
      'undo',  // 撤销
      {#'redo'  // 重复#}
    ];
    editor.config.pasteFilterStyle = false;  // 关闭粘贴样式的过滤
    editor.config.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    editor.config.onchange = function (html) {
        // html 即变化之后的内容

        content = html;
        if(html === ""||html==="<p><br></p>"){
          $("#editor-btn").attr("class", "editor-button btn float-right btn-sm").attr("disabled", "disabled")
        }else if(html !== ""){
          $("#editor-btn").attr("class", "editor-button btn float-right btn-sm editor-button-active").removeAttr("disabled");
        }
        {#if(!site&&site===""){#}
        {#  $("#user_site").css("color", "red").val("")#}
        {# }#}
        console.log(html)
    };
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create();

    $("#editor-btn").click(function() {
      console.log("hahha");
      var obj = $(this);
      var email = $("#user_email").val();
      var name = $("#user_name").val();

      if(!email||email===""){
        {#$("#user_email").css("class", "red").val("输入邮箱");#}
        document.getElementById("user_email").classList.add("null-red");
        {#$("#user_email").classList.add("null-red");#}
      }
      if(!name||name===""){
        document.getElementById("user_name").classList.add("null-red");
        {#$("#user_name").classList.add("null-red");#}
      }
      var bitian = $(".bitian");
      bitian.each(function () {
        if ($(this).hasClass("null-red")){
          return false;
        }
      });
      
      obj.attr("disabled", "disabled").text('Sending...');
      var form = $("#edit_comment").serialize();
      form = form + "&content=" + content;
      $.ajax({
        url: '{{ url_for("admin.add_comment") }}',
        type: 'post',
        data: form,
        success: function (result) {
          if (result.status === 200){
            {#添加新节点，无需跳转#}
            var msg = "<div class=\"msg msg_"+ result.position +" drop"+ result.drop +"\">\n" +
              "        <img alt=\""+ result.info.name +"\" src=\"/static/images/touxiangm.png\">\n" +
"        <span class=\"name\">"+ result.info.name +"</span>\n"+
"        <div class=\"pneirong dropdown-toggle\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"><i></i>" +
              result.info.content +
"        </div>\n"+
"        <div class=\"dropdown-menu\">\n"+
"          <button class=\"dropdown-item\" type=\"button\">回复</button>\n"+
"        </div>\n"+
"      </div>";
            $(".list_msg").append(msg);
            {#window.location.href = result.info['url']#}
            editor.txt.clear();
            obj.attr('class', 'editor-button btn float-right btn-sm').text('发送');
          }else{
            alert(result.msg);
          }
        }
      })
    });
    {#document.getElementById('btn1').addEventListener('click', function () {#}
    {#    // 如果未配置 editor.customConfig.onchange，则 editor.change 为 undefined#}
    {#    editor.change && editor.change()#}
    {# })#}

    $(".input-sm").keyup(function () {
      console.log("dasdsa ");
      if($(this).val() !== ""){
        $(this).removeClass("null-red");
      }
    })

  </script>
{% endmacro %}