{% macro commont_card(blog) %}
  <style>
  .add_msg{
    padding: 0 0 15px 0;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px #c2c2c2;
    background-color: rgba(255,255,255,0.8);
  }
  .editor-header{
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
  .editor-body{
    {#height: 200px;#}
    flex-grow: 1;
    border: 1px solid #ccc;
    min-height: 44px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5px;
    width: 80%;
    border-radius: 15px;
    background-color: #fff;
  }
  .editor-body>div{
    overflow:hidden;
    resize:none;
  }
  .editor-footer{
      width: 100%;
      height: 35px;
      justify-content: center;
      border-bottom: 1px solid #ccc;
  }
  .editor-button{
    {#position: absolute;#}
    /* float: right; */
    flex-grow: 1;
    {#font-size: 23px;#}
    min-width: 25px;
    {#max-width: 90px;#}
    max-height: 45px;
    /* margin: 0px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15PX;
    color: #ffffff;
    background-color: #dee2e6;
  }
  .editor-button-active:hover {
    color: #fff;
    background-color: #087dd1;
    border-color: #087dd1;
  }

  .editor-header>div.relpy_menu{
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
  }
  .relpy_menu>span{
    background-color: #32c1ff;
    border-style: none;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    border-radius: 15px;
  }

  .msg{
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: .7rem;
  }
  .msg>img{
    width: 60px;
    height: 60px;
    {#float: left;#}
    max-width: 100%;
    border-radius: 15px;
    vertical-align: middle;
  }
  .msg>div.message{
    position: absolute;
    font-size: 0.5rem;
    color: #fff;
    {#top: 1rem;#}
    {#left: 5rem;#}
  }
  .msg>div.message>span.admin{
    color: #000000;
    background-color: #00c4ff;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .msg>div.pneirong{
    {#top: 1.7rem;#}
    {#float: left;#}
    margin: 1.4rem 1.2rem 0;
    padding: 5px 10px 5px 10px;
    {#padding: 10px;#}
    background: #fff;
    font-size: 12px;
    position: relative;
    border-radius: 15px;
    max-width: calc((100% - 100px));
    min-height: .8rem;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .msg>div>i{
    position: absolute;
    background: url({{ url_for("static", filename="images/msg-input.png") }}) no-repeat;
    background-size: 15px auto;
    width: 20px;
    height: 15px;
    {#left: -14px;#}
    top: 10px;
  }

  .msg_left>img{
    float: left;
  }
  .msg_left>div.message{
    left: 5rem;
  }
  .msg_left>div.pneirong{
    float: left;
  }
  .msg_left>div>i{
    left: -14px;
    {#transform: rotateY(180deg);#}
  }
  .msg_right>img{
    float: right;
  }
  .msg_right>div.message{
    right: 5rem;
  }
  .msg_right>div.pneirong{
    float: right;
  }
  .msg_right>div>i{
    right: -14px;
    transform: rotateY(180deg);
  }

  .list_msg{
    box-shadow: 0 0 5px #c2c2c2;
    background-color: #f1f1f1;
    padding: 1.2rem .8rem 1rem;
    border-radius: 15px 15px 0 0;
    background-color: rgba(0,0,0,0.2);
    {#border-bottom: 0.5px solid #ccc;#}
  }
  .user-info{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-sm{
    flex-grow: 1;
    text-align: center;
    {#margin: 0 6px 0 6px;#}
    height: 100%;
    {#border-radius: 10px;#}
    background-color: rgba(255,255,255,0);
    border: 0;
    flex-shrink: 1;
  }
  .input-center{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .null-red{
    box-shadow: 0 0 10px red;
  }
  {#.dropright .dropdown-toggle::after{#}
  {#  position: absolute;#}
  {#  top: calc(100% - 60%);#}
  {#  left: calc(100% - 15px);#}
  {# }#}
  {#.dropleft .dropdown-toggle::before{#}
  {#  position: absolute;#}
  {#  top: calc(100% - 60%);#}
  {#  left: calc(100% - 90%);#}
  {# }#}
  .pneirong>p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
  }
  </style>
  <div class="comment">
    <h3>
      秀儿大会：
    </h3>
    <div class="list_msg" id="list_msg">
      {% for comment in blog.blog_comments %}
      {% if comment.commented is none %}
        {{ commentinfo(comment) }}
      {% endif %}
      {% endfor %}
{#      <div class="msg msg_right">#}
{#        <img alt="暴躁少女" src="{{ url_for("static", filename="images/touxiangm.png") }}">#}
{#        <span class="name">暴躁少女</span>#}
{#        <span class="time">评论时间</span>#}
{#        <a class="reply" id="3" name="少女" position="right">回复</a>#}
{#        <div class="pneirong">#}
{#          <i></i><p>nihashile</p><p>wochao</p>#}
{#        </div>#}
{#      </div>#}
{#      在这里加载对向回复评论#}
    </div>
    <form id="edit_comment">
      <div class="add_msg">
        <div id="editor-footer" class="editor-footer user-info">
{#        昵称#}
          <input type="text" class="input-sm bitian" id="user_name" name="user_name" aria-label="昵称"
                 placeholder="昵称" value="{% if current_user.is_authenticated %}{{ current_user.login_name }}{% else %}{{ commentuser.name }}{% endif %}">
  {#        邮箱#}
          <input type="email" class="input-sm input-center bitian" name="user_email" id="user_email" aria-label="邮箱"
                 placeholder="邮箱*" value="{% if current_user.is_authenticated %}{{ current_user.email }}{% else %}{{ commentuser.email }}{% endif %}">
  {#        主页#}
          <input type="text" class="input-sm" id="user_site" name="user_site" aria-label="主页"
                 placeholder="主页*" value="{% if current_user.is_authenticated %}{{ url_for('blog.index') }}{% else %}{{ commentuser.site }}{% endif %}">
        </div>
        <div id="editor-header" class="editor-header"></div>
        <div id="editor-body" class="editor-body"></div>
        <input type="hidden" id="reply_id" name="reply" value="">
        <input type="hidden" id="position" name="position" value="">
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button id="editor-btn" class="editor-button btn float-right btn-sm" type="button" disabled>发送</button>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
  <script>
    const E = window.wangEditor;
    const {BtnMenu} = E
    class AlertMenu extends BtnMenu {
      constructor(editor) {
          const elem = E.$(
                          `<div class="w-e-menu relpy_menu">
                            <span>回复：</span>
                        </div>`
                    )
          super(elem, editor)
      }
      // 菜单点击事件
      clickHandler() {
          // 做任何你想做的事情
          // 可参考【常用 API】文档，来操作编辑器
          $("#reply_id").val("")
          $("#position").val("")
          $(editor.$toolbarElem.elems[0]).children("div:last").children("span#cancel").remove()
          $(editor.$toolbarElem.elems[0]).children("div:last").children().text("回复：")
          {#console.log()#}
      }
      tryChangeActive() {
          // 激活菜单
          // 1. 菜单 DOM 节点会增加一个 .w-e-active 的 css class
          // 2. this.this.isActive === true
          this.active()
          // // 取消激活菜单
          // // 1. 菜单 DOM 节点会删掉 .w-e-active
          // // 2. this.this.isActive === false
          // this.unActive()
      }
    }
    const editor = new E('#editor-header', '#editor-body');
    var content;

    const menuKey = 'alertMenuKey' // 菜单 key ，各个菜单不能重复
    editor.menus.extend('alertMenuKey', AlertMenu)

    // 将菜单加入到 editor.config.menus 中
    // 也可以通过配置 menus 调整菜单的顺序，参考【配置菜单】部分的文档
    {#editor.config.menus = editor.config.menus.concat(menuKey)#}
    editor.config.menus = [
      {#'head',  // 标题#}
      {#'bold',  // 粗体#}
      'fontSize',  // 字号
      {#'fontName',  // 字体#}
      {#'italic',  // 斜体#}
      'underline',  // 下划线
      'strikeThrough',  // 删除线
      {#'foreColor',  // 文字颜色/#}
      {#'backColor',  // 背景颜色#}
      'link',  // 插入链接
      'list',  // 列表
      {#'justify',  // 对齐方式#}
      {#'quote',  // 引用#}
      'emoticon',  // 表情
      'image',  // 插入图片
      {#'table',  // 表格#}
      {#'video',  // 插入视频#}
      'code',  // 插入代码
      'undo',  // 撤销
      'alertMenuKey',
      {#'redo'  // 重复#}
    ];
    editor.config.pasteFilterStyle = false;  // 关闭粘贴样式的过滤
    editor.config.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    editor.config.onchange = function (html) {
        // html 即变化之后的内容

        content = html;
        if(html === ""||html==="<p><br></p>"||html === " "){
          $("#editor-btn").attr("class", "editor-button btn float-right btn-sm").attr("disabled", "disabled")
        }else if(html !== ""){
          $("#editor-btn").attr("class", "editor-button btn float-right btn-sm editor-button-active").removeAttr("disabled");
        }
        {#if(!site&&site===""){#}
        {#  $("#user_site").css("color", "red").val("")#}
        {# }#}
        {#console.log(html)#}
    };
    // 或者 var editor = new E( document.getElementById('editor') )

    editor.create();

    $("#editor-btn").on('click', function() {
      console.log("点击发送");
      let obj = $(this);
      {#var email = $("#user_email").val();#}
      let nameE = $("#user_name")
      let name = nameE.val();
      let over = Boolean
      let reply_id = $('.add_msg').children('input#reply_id').val()

      {#if(!email||email===""){#}
        {#$("#user_email").css("class", "red").val("输入邮箱");#}
      {#  document.getElementById("user_email").classList.add("null-red");#}
        {#$("#user_email").classList.add("null-red");#}
      {# }#}
      if(!name||name===""){
        nameE.attr("placeholder", "请填写一个昵称");
        document.getElementById("user_name").classList.add("null-red");
        {#name.classList.add("null-red");#}
      }
      let bitian = jQuery(".bitian");
      bitian.each(function () {
        if ($(this).hasClass("null-red")){
          {#console.log("有");#}
          over = false
          return false;
        }else{
          {#console.log("没");#}
          over = true
        }
      });
      {#console.log(over);#}
      if(over){
          obj.attr("disabled", "disabled").text('Sending...');
          let form = jQuery("#edit_comment").serialize();
          form = form + "&content=" + content;
          jQuery.ajax({
            url: '{{ url_for("blog.add_comment") }}',
            type: 'post',
            data: form,
            success: function (result) {
              if (result.status === 200){
                {#添加新节点，无需跳转#}
                let msg = result.html;
                {#console.log(reply_id)#}
                if(reply_id === ""){
                    jQuery(".list_msg").append(msg);
                }else{
                    let newdom = "div#" + reply_id
                    let old = "div[replyid='" + reply_id + "']:last"
                    {#let ReplyDom = #}
                    let noreply = $(".list_msg").children(newdom)
                    let yesreply = $(".list_msg").children(old)
                    {#console.log(yesreply.length, noreply.length)#}
                    if(yesreply.length !== 0){
                      yesreply.after(msg)
                    }else{
                        noreply.after(msg)
                    }
                }
                {#window.location.href = result.info['url']#}
                editor.txt.clear();
                obj.attr('class', 'editor-button btn float-right btn-sm').text('发送');
              }else{
                alert(result.msg);
              }
            }
          })
      }else{
          return false;
      }

    });
    {#document.getElementById('btn1').addEventListener('click', function () {#}
    {#    // 如果未配置 editor.customConfig.onchange，则 editor.change 为 undefined#}
    {#    editor.change && editor.change()#}
    {# })#}

    $(".input-sm").on('keyup', function () {
      console.log("在输入");
      if($(this).val() !== ""){
        $(this).removeClass("null-red");
      }
    })

    $(".list_msg").on('click', ".reply", function () {
      let id = $(this).attr('id')
      let name = $(this).attr('name')
      let position = $(this).attr('position')
      {#var neirong = editor.txt.html()#}
      $("#reply_id").val(id)
      $("#position").val(position)
      {#console.log(neirong)#}
      {#$(".relpy_menu>button").text("回复: " + name)#}
      $(editor.$toolbarElem.elems[0]).children("div:last").children("span#cancel").remove()
      $(editor.$toolbarElem.elems[0]).children("div:last").children().text("回复：" + name)
      $(editor.$toolbarElem.elems[0]).children("div:last").append("<span id=\"cancel\" style='background-color: darkred'>取消</span>")
      {#editor.txt.html("<p style='font-size: small; color: #00c4ff'>@" + name + "<br></p>")#}
      {#if(neirong === ""||neirong==="<p><br></p>"||neirong === " "){#}
      {#    console.log('我擦')#}
      {#    editor.txt.append("<p>你好：</p>")#}
      {# }else{#}
      {#    editor.txt.append(neirong)#}
      {# }#}
    })

  </script>
{% endmacro %}
{% macro commentinfo(comment) %}
  <div id="{{ comment.id }}" {% if comment.commented %}replyid="{{ comment.commented.id }}" {% endif %}class="msg msg_{{ comment.comment_yu }}">
    <img alt="{{ comment.name }}" src="{{ url_for("static", filename="images/touxiangm.png") }}">
    <div class="message">
      <span class="name">{{ comment.name }}</span>
      {% if comment.from_admin %}
        <span class="admin">Master</span>
      {% endif %}
      <span class="time">评论时间</span>
      <a class="reply" id="{{ comment.id }}" name="{{ comment.name }}" position="{{ comment.comment_yu }}">回复</a>
    </div>

    <div class="pneirong">
      {% autoescape off %}
      <i></i>{{ comment.mark }}
      {% endautoescape %}
    </div>
  </div>
  {% if comment.comments %}
    {% for co in comment.comments %}
      {{ commentinfo(co) }}
    {% endfor %}
  {% endif %}
{% endmacro %}